*{
  margin:0 ;
  padding: 0;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  padding-bottom: 30px;
}
.menu p {
  color: rgb(52, 53, 54);
  margin: 10px;
  font-size: 25px;
}
.menu .bt {
  background-color: #fb8500;
  border: 2px solid #fb8500;
  padding: .25rem;
  border-radius: .2rem;
}
.menu p:hover {
  color: #89fc00;
}


/* -------------------------------- */
